{{ define "main" }}

<div class="home-extra">
  {{ .Content }}
</div>

<div class="home-info">
<h1>{{ .Site.Params.homeInfoParams.Title }}</h1>
<p class="home-subtitle">
  {{ .Site.Params.homeInfoParams.Content }}
</p>

<div class="social-icons">
  {{ range .Site.Params.socialIcons }}
    <a href="{{ .url }}" target="_blank" aria-label="{{ .name }}">
      <i class="social-icon {{ .name }}"></i>
    </a>
  {{ end }}
</div>

<div class="home-spacing"></div>

<h2>Posts</h2>

<ul>
  {{ range (where .Site.RegularPages "Section" "posts") }}
  <li>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    <span class="post-meta"> — {{ .Date.Format "Jan 2, 2006" }}</span>
  </li>
  {{ end }}
</ul>

{{ end }}